<!doctype html>
<html>
  {{ template "head" . }} {{ template "style" }}
  <!-- -->
  {{ template "themescript" }} {{ template "header" }}
  <body>
    {{ template "body" . }}
  </body>
</html>

{{ define "head" }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="2024 Distributed System" />
  <meta name="name" content="2024 Distributed System" />
  <title>2024 Distributed System</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/lucide@latest"></script>
  <title>{{ .Title }}</title>
</head>
{{ end }}

<!-- -->

{{ define "style" }}
<style>
  [data-bs-theme="dark"] {
    --bs-body-bg: rgb(3 8 22);
  }
  .rounded {
    border-radius: 0.5rem;
  }
</style>
{{ end }}

<!-- -->

{{ define "themescript" }}
<script>
  // function to set a given theme/color-scheme (light, dark, or system)
  function setTheme(themeName) {
    if (themeName === "system")
      themeName = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    localStorage.setItem("theme", themeName);
    document.documentElement.setAttribute("data-bs-theme", themeName);
  }
  // Immediately invoked function to set the theme on initial load
  (function () {
    setTheme(localStorage.getItem("theme") || "system");
  })();
</script>
{{ end }}

<!-- -->

{{ define "header" }}
<header style="background-color: rgb(33 41 54)" class="navbar rounded">
  <div class="container-fluid">
    <h1 style="color: white" class="header-h1">
      NCCUCS - 2024 Distribued System
    </h1>
    <style>
      .header-h1 {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 640px) {
        .header-h1 {
          font-size: 1rem;
        }
      }
    </style>
    <div style="display: flex; flex-direction: row; column-gap: 0.7rem">
      {{ template "dropdown-button" }}
      <a
        style="color: black; background: white"
        class="btn header-btn"
        href="https://github.com/gnitoahc/2024-distributedsystem"
        ><i data-lucide="github"></i
      ></a>
      <script>
        lucide.createIcons();
      </script>
    </div>
    <style>
      .header-btn {
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-padding-y: 0.25rem;
      }
    </style>
  </div>
  <script>
    function getSvgIcon(theme) {
      if (theme == "dark") return `<i data-lucide="moon"></i>`;
      else if (theme == "light") return `<i data-lucide="sun"></i>`;
      else {
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? `<i data-lucide="moon"></i>`
          : `<i data-lucide="sun"></i>`;
      }
    }
    for (const button of document.querySelectorAll(".theme-toggle")) {
      button.addEventListener("click", (event) => {
        setTheme(event.target.value);
        document.getElementById("dropdownMenuButton").innerHTML = getSvgIcon(
          event.target.value,
        );
        lucide.createIcons();
      });
    }
    (function () {
      document.getElementById("dropdownMenuButton").innerHTML = getSvgIcon(
        localStorage.getItem("theme") || "system",
      );
      lucide.createIcons();
    })();
  </script>
</header>
{{ end }}

<!-- -->

{{ define "dropdown-button"}}
<div class="dropdown">
  <button
    id="dropdownMenuButton"
    class="btn header-btn"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    style="color: black; background: white"
  ></button>
  <ul class="dropdown-menu header-dropdown-menu">
    <li>
      <button class="dropdown-item theme-toggle" value="light">Light</button>
    </li>
    <li>
      <button class="dropdown-item theme-toggle" value="dark">Dark</button>
    </li>
    <li>
      <button class="dropdown-item theme-toggle" value="system">System</button>
    </li>
  </ul>
  <style>
    .header-dropdown-menu {
      --bs-dropdown-min-width: 1rem;
    }
  </style>
</div>
{{ end }}
