{{ define "body" }}
<div>HCSR04</div>
<form id="hcsr04-form" enctype="multipart/form-data">
  <input type="datetime-local" name="start" />
  <input type="datetime-local" name="end" />
  <button type="submit">Confirm</button>
  <div id="hcsr04-chart"></div>
</form>
{{ template "hcsr04-script" }}
<!-- -->
{{ end }}

<!-- -->
{{ define "hcsr04-script" }}
<script>
  const hcsr04Form = document.getElementById("hcsr04-form");
  hcsr04Form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(hcsr04Form);
    const start = Date.parse(formData.get("start"));
    const end = Date.parse(formData.get("end"));
    console.log(start, end);
    const response = await fetch(`/hcsr04?start=${start}&end=${end}`);
    const data = await response.json();
    console.log("response: ", data);
  });
</script>
{{ end }}
